{% for peer, props in wireguard.peers.items() %}
{% if peer in ansible_all_ipv4_addresses %}
[Interface]
PrivateKey = {{ props["private_key"] }}
Address = {{ props["wg_ip"] }}/24
ListenPort = 51820
{% else %}
[Peer]
PublicKey = {{ props["public_key"] }}
AllowedIPs = {{ props["wg_ip"] }}/32
Endpoint = {{ peer }}:51820
{% endif %}
{% endfor %}
