ETCD_ADVERTISE_CLIENT_URLS="https://{{ vars['ansible_' + etcd.listen_interface].ipv4.address }}:{{ etcd.listen_port }}"
ETCD_AUTO_TLS=true
ETCD_DATA_DIR={{ etcd.data_dir }}
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ vars['ansible_' + etcd.listen_interface].ipv4.address }}:{{ etcd.peer_listen_port }}"
ETCD_INITIAL_CLUSTER= {{ ','.join(etcd.initial_cluster) }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd.initial_cluster_token }}
ETCD_LISTEN_CLIENT_URLS="https://{{ vars['ansible_' + etcd.listen_interface].ipv4.address }}:{{ etcd.listen_port }},https://127.0.0.1:{{ etcd.listen_port }}"
ETCD_LISTEN_PEER_URLS="https://{{ vars['ansible_' + etcd.listen_interface].ipv4.address }}:{{ etcd.peer_listen_port }}"
ETCD_NAME={{ ansible_hostname }}
ETCD_PEER_AUTO_TLS=true
