[Unit]
Description=etcd
After={{ ' '.join(etcd.service.unit_after) }}

[Service]
ExecStart=/usr/bin/etcd
EnvironmentFile=/etc/default/etcd
User=etcd
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
